<%- include("../partials/before-header.ejs") %>
<%- include("../partials/header.ejs") %>
<%- include("../partials/navigation.ejs") %>



<main>

    <div class="shop-wrapper">

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/images/Shop/shop-by.jpg"
                alt="shop-by">
            <p class="shop-category__name">
                shop by brand
            </p>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/images/Shop/Amplifyers.jpg"
                alt="amplifiers">
            <p class="shop-category__name" id="amplifiers">amplifiers
            </p>
        </div>
        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/images/Shop/speaker.jpg"
                alt="speakers">
            <p class="shop-category__name">speakers

            </p>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/images/Shop/turntables.jpg"
                alt="turntables">
            <p class="shop-category__name">turntables

            </p>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/images/Shop/cd-players.jpg"
                alt="cd-players">
            <p class="shop-category__name">cd players

            </p>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/images/Shop/streamer.jpg"
                alt="streamer">
            <p class="shop-category__name">
                streamers
            </p>
        </div>
        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/images/Shop/cables.jpg"
                alt="cables">
            <p class="shop-category__name">
                cables
            </p>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/images/Shop/furniture.jpg"
                alt="furniture">
            <p class="shop-category__name">
                furniture
            </p>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/images/Shop/headphones.jpg"
                alt="headphones">
            <p class="shop-category__name">
                headphones
            </p>
        </div>

        <div class="shop-category">
            <img class="shop-category__image" src="/assets/images/Shop/home-cinema.jpg" alt="home-cinema">
            <p class="shop-category__name">
                home cinema
            </p>
        </div>
        <div class="shop-category">
            <img class="shop-category__image" src="/assets/images/Shop/outlet.jpg" alt="outlet">
            <p class="shop-category__name">
                outlet - save up to 50% off
            </p>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/images/Shop/ebay.jpg" alt="ebay">
            <p class="shop-category__name">
                ebay shop
            </p>
        </div>

        <div class="shop-category">
            <img class="shop-category__image shop-category__image_filter" src="/assets/images/Shop/Ceiling-Speakers.jpg"
                alt="ceiling-speakers">
            <p class="shop-category__name">
                ceiling speakers
            </p>
        </div>

        <div class="shop-category">
            <img class="shop-category__image" src="/assets/images/Shop/Tvs.jpg" alt="tvs">
            <p class="shop-category__name">
                tvs
            </p>
        </div>
        <div class="shop-category">
            <img class="shop-category__image" src="/assets/images/Shop/Vinyl-LPS.jpg" alt="vinyl-lps">
            <p class="shop-category__name">
                vinyl lps
            </p>
        </div>

        <div class="shop-category">
            <img class="shop-category__image" src="/assets/images/Shop/shop-now.png" alt="show-now">
            <p class="shop-category__name shop-category__name_button">
                <a class="shop-category__name_link" href="/katergori-liste">shop now</a>
            </p>
        </div>

    </div>

</main>
<%- include("../partials/footer.ejs") %>
<%- include("../partials/after-footer.ejs") %>